<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ManagedCuda-80" version="8.0.22" targetFramework="net461" requireReinstallation="true" />
  <package id="MathNet.Numerics" version="4.12.0" targetFramework="net45" />
  <package id="OpenCvSharp3-AnyCPU" version="4.0.0.20181129" targetFramework="net45" />
</packages>